body {
    font-family: "Poppins", sans-serif;
}

.navbar {
    padding: 0px 165px;
    height: 80px;
}
.navbar input {
    width: 421px;
    height: 40px;
    border-radius: 5px;
}
.nav-right-container {
    display: flex;
    gap: 30px;
}
.nav-right-container i {
    padding-top: 10px;
}
.badge1 {
    position: absolute;
    font-size: 12px;
    top: 14px;
    right: 205px;
    padding: 0px 6px;
    border-radius: 50%;
    background-color: rgb(250, 53, 53);
    color: white;
}
.badge2 {
    position: absolute;
    font-size: 12px;
    top: 14px;
    right: 150px;
    padding: 0px 6px;
    border-radius: 50%;
    background-color: rgb(250, 53, 53);
    color: white;
}

/* card styles */
.card-container {
    display: flex;
    flex-direction: row;
    margin: 40px 165px;
}
.card {
    width: 300px;
    height: 400px;
    background-color: white;
    margin: 16px;
}
.price,
.img-label {
    margin: auto;
    color: black;
}
.wishlist {
    margin: 40px 50%;
    font-size: 32px;
    font-weight: 700;
}
