:root{
    --heart-icon-color: #f10000;
    --background-color: #ffff;
    --light-white: #e9e9e9;
    --font-black-color: #1111;
    --grey-color-font: #888;
    --button-main-color: #007BFF;
}
body {
    font-family: "Poppins", sans-serif;
    background-color: var(--background-color);
}
.navbar {
    padding: 0rem 1rem 1rem 1rem;
}
.badge2 {
    position: absolute;
    font-size: 1rem;
    top: 1.15rem;
    right: 8.5rem;
    padding: 0rem 0.34rem;
    border-radius: 50%;
    background-color: var(--heart-icon-color);
    color: var(--background-color);
}
/* front end */
.home-grid {
    display: flex;
    margin: 0 auto;
    margin-top:1rem;
}
.grid-container {
    flex-direction: row;
    display: flex;
}
.grid-container a{
    position: relative;
    height: 8rem;
}
.grid-photos {
    height: 100%;
    width: 100%;
    padding: 0 2rem 0 3rem;
}
.title {
    text-align: center;
    font-weight: bold;
    padding-bottom: 1rem;
    color: var(--grey-color-font);
}
.offer-banner {
    width: 80rem;
    height: 18rem;
    margin: 3rem 0rem 1rem 8rem;
}
.offer-card {
    width: 100%;
    height: 100%;
}
.grid-banner-container{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 4.7rem;
    margin: 1rem 1rem 5rem 8.5rem;
}
.clothing {
    width: 20rem;
    height: 22rem;
    border-radius: 10px;
    border: 3px solid var(--grey-color-font);
}
.image-footer{
    position: absolute;
    top: 53.5rem;
    width: 20rem;
    border-radius: 10px;
    text-align: center;
    background-color: var(--light-white);
    border: 3px solid gray;
    opacity: 0.8;
}
.image-footer:hover{
    opacity: 1;
}
.card {
    margin: 0.7rem 0.56rem 1rem 8rem;
    padding: 1rem 0rem 0rem 1rem;
    width: 33rem;
    height: 17rem;
    background-color: var(--background-color);
    display: flex;
    flex-wrap: wrap;
}
.footer-img {
    width: 13rem;
    height: 15rem;
}
.offer {
    margin-top: 0.2rem;
    font-size: 1.5rem;
    font-weight: bold;
}
.shop-here{
    background-color: var(--button-main-color);
    padding: 0.60rem;
    border: none;
    border-radius: 5px;
}
.offer-footer {
    display: grid;
    grid-template-columns: auto auto;
}

