:root{
    --heart-icon-color: #f10000;
    --background-color: #ffff;
    --light-white: #e9e9e9;
    --font-black-color: #1111;
    --grey-color-font: #888;
    --button-main-color: #007BFF;
}
body {
    font-family: "Poppins", sans-serif;
}
.navbar {
    padding: 0rem 1rem 1rem 1rem;
}
.badge2 {
    position: absolute;
    font-size: 1rem;
    top: 1.15rem;
    right: 8.5rem;
    padding: 0rem 0.34rem;
    border-radius: 50%;
    background-color: var(--heart-icon-color);
    color: var(--background-color);
}
/* front end */
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
}
.move-to-cart, .move-to-wishlist{
    width: 20rem;
    padding: 0.4rem;
    margin-top: 0.90rem;
    background-color: var(--button-main-color);
    border: none;
    border-radius: 5px;
    color: var(--background-color);
}
.place-order-btn{
    width: 20rem;
    padding: 0.4rem;
    background-color: var(--button-main-color);
    border: none;
    border-radius: 5px;
    color: var(--background-color);
}
